<div class="section">
  <div class="section-title">
    Options
  </div>
</div>

<div class="section">
  <div class="options-label">
    Figure
  </div>
  <div class="options-container">
    {{#each model.figures as |option|}}
      {{#options-button option=option click=(action 'setFigure' option) isSelected=(eq figure option.value)  as |option|}}
        <img src="{{option.image}}" class="options-button-figure">
      {{/options-button}}
    {{/each}}
  </div>
</div>

<div class="section">
  <div class="options-label">
    Size
  </div>
  <div class="options-container">
    {{#each model.sizes as |option|}}
      {{#options-button option=option click=(action 'setSize' option) isSelected=(eq size option.value) as |option|}}
          <span class="options-button-size">
            {{option.label}}
          </span>
      {{/options-button}}
    {{/each}}
  </div>
</div>

<div class="section">
  <div class="options-label">
    Music
  </div>
  <div class="options-container">
    <label class="options-switch">
      {{input
        type="checkbox"
        checked=music
        change=(action "setMusic")
        class="options-switch-checkbox"
      }}
      <div class="options-switch-slider"></div>
    </label>
  </div>
</div>

<div class="section">
  <div class="options-label">
    Music volume
  </div>
  <div class="options-container">
    {{input
      type="range"
      min="0.1"
      max="1"
      value=musicVolume
      step=0.1
      input=(action "setMusicVolume")
      change=(action "setMusicVolume")
    }}
  </div>
</div>

<div class="section">
  <div class="options-label">
    Sound effects
  </div>
  <div class="options-container">
    <label class="options-switch">
      {{input
        type="checkbox"
        checked=effects
        change=(action "setEffects")
        class="options-switch-checkbox"
      }}
      <div class="options-switch-slider"></div>
    </label>
  </div>
</div>

<div class="section">
  <div class="options-label">
    Effects volume
  </div>
  <div class="options-container">
    {{input
      type="range"
      min="0.1"
      max="1"
      value=effectsVolume
      step=0.1
      input=(action "setEffectsVolume")
      change=(action "setEffectsVolume")
    }}
  </div>
</div>

<div class="section">
  {{#link-to "application" class="section-back"}}&lt; Go Back{{/link-to}}
</div>
